/* -- RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a:link,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* -- UTILS */

:root {
  --text-xs: 0.9rem;
  --text-s: 1rem;
  --text-m: 1.5rem;
  --text-l: 2.5rem;
  --text-xl: 4.5rem;
  --space-xs: 5px;
  --space-s: 22px;
  --space-m: 33px;
  --space-l: 44px;
  --space-xl: 55px;
  --space-xxl: 100px;
  --space-xxxl: 150px;

  --hero-img-overflow: 75px;

  --header-min-height: 80px;
  --plan-card-minheight: 264px;

  --main-color: #0061ff;
  --secondary-color: #b4d0e7;
  --main-font-color: #595959;
}

.col-30 {
  width: 30%;
}

.col-70 {
  width: 70%;
}

.container {
  max-width: 1046px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

footer .container,
.hero .container {
  max-width: 1235px;
}

.btn {
  display: block;
  height: fit-content;
  text-align: center;
  padding: 8px 18px;
  border-radius: 0;
  background-color: #ffffff;
}

.btn.primary {
  background-color: var(--main-color);
  color: white;
}

section {
  margin-top: var(--space-xxxl);
}

/* -- DEBUG */

.db {
  background-color: rgba(255, 0, 0, 0.236);
  border: 3px dashed black;
  /* background-clip: content-box; */
  /* min-height: 50px; */
}

i {
  font-style: inherit;
}

i::after {
  content: "⨶";
}

/* ---------------------------------------- */

/* # HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-min-height);
  color: var(--main-font-color);
}

header nav .link li,
nav.left .logo {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

nav.left,
nav .link {
  display: flex;
  align-items: center;
}

/* # MAIN */

/* HERO */

.hero {
  background-color: var(--secondary-color);
}

.hero h1 {
  font-size: var(--text-xl);
  font-weight: 900;
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xl);
}

.hero .content,
.hero .content .left {
  display: flex;
}

.hero .content .left {
  flex-direction: column;
  position: relative;
  gap: var(--space-m);
  /* color: var(--main-font-color); */
}

.hero .content .left * {
  flex-grow: 0;
}

.hero .content .left .btn {
  width: fit-content;
}

.hero .content .left .icon {
  flex-grow: 1;
  font-size: var(--text-xl);
}

.hero .content .left i {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero .content img {
  position: relative;
  top: var(--hero-img-overflow);
  margin-top: calc(-1 * var(--hero-img-overflow));
}

/* BUY A PLAN */

.buy-a-plan {
  font-size: var(--text-xs);
}

.buy-a-plan h2,
.buy-a-plan .invoicing-opt {
  padding-bottom: var(--space-xl);
}

.buy-a-plan .invoicing-opt label {
  padding-right: calc(2 * var(--space-s));
}

.buy-a-plan h2 {
  font-size: var(--text-l);
}

/* --CARD */

.buy-a-plan .card-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buy-a-plan .card {
  border: 1px solid var(--main-font-color);
}

.buy-a-plan .card-wrapper .card {
  width: calc(100% / 3 - var(--space-l));
}

.buy-a-plan .card-wrapper {
  margin-bottom: calc(2 * var(--space-s));
}

.buy-a-plan .card .card-top {
  min-height: var(--plan-card-minheight);
}

.buy-a-plan .card .type {
  text-align: center;
  border-bottom: 1px solid var(--main-font-color);
  margin-bottom: var(--space-s);
}

.buy-a-plan .title {
  font-size: var(--text-m);
}

.buy-a-plan .price {
  font-weight: bold;
}

.buy-a-plan .period {
  color: var(--main-font-color);
}

.buy-a-plan .card > *:not(.btn, hr, .card-top, .bodycard-wrapper),
.buy-a-plan .card .card-top > *,
.buy-a-plan .card .infocard-wrapper > * {
  padding: calc(var(--space-s) / 2) var(--space-s);
}

.buy-a-plan .card ul li {
  padding-top: calc(var(--space-s) / 2);
  padding-bottom: calc(var(--space-s) / 2);
}

.buy-a-plan .card .btn,
.buy-a-plan .card hr {
  margin: calc(var(--space-s) / 2) var(--space-s);
}

.buy-a-plan .card .title,
.buy-a-plan .card .price {
  padding-bottom: 0;
}

.buy-a-plan .card#business-plan .bodycard-wrapper {
  display: flex;
}

.buy-a-plan .card#business-plan .infocard-wrapper {
  flex-grow: 1;
}

.buy-a-plan .card#business-plan .desc {
  margin-top: var(--space-xxl);
}

/* --END CARD */

/* CAROUSEL */

.carousel .container {
  display: flex;
}

/* FEATURES */

.features .card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.features .card {
  width: calc(100% / 3);
}

/* PARTNER */
.partner .partnerboxes-wrapper {
  display: flex;
}

.partner .smallboxes-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
}

.partner .smallbox {
  width: 50%;
  height: 50%;
}

.partner .bigbox {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
}

.partner .layover {
  background-color: rgba(0, 255, 255, 0.155);
}

.partner .start-free.container {
  display: flex;
  justify-content: space-between;
}

/* FAQ */

.faq .frequent-question {
  position: relative;
}

.faq .frequent-question i {
  position: absolute;
  right: 0;
}

/* #FOOTER */

footer .wrapper {
  display: flex;
  justify-content: space-between;
}
